extends ../main.layout.pug

block variables
    - var title = 'Личный сайт веб разработчика Андрея Лебедева | Блог'
    - var wrapper = 'wrapper'    

block content
    section.section.hero.hero--blog
        .hero__top
            .hero__top-left
                - 
                    var socialLinks = [
                        ['vk',  'images/icons/sprite.svg#vk',     'https://vk.com/gygabyyyte' ],
                        ['git', 'images/icons/sprite.svg#github', 'https://github.com/GyGaByyyTe' ],
                        ['in',  'images/icons/sprite.svg#in',     'https://vk.com/gygabyyyte' ],
                    ]                      
                include ../common/socials.pug
                +socials('socials--align_left socials--header',socialLinks)  
            .hero__top-mid
                - 
                    var navLinks = [
                        ['Мои работы',  '/works'],
                        ['Обо мне',     '/about'],
                        ['Блог',        '/blog'],
                        ['Авторизация', '/']                    
                    ]     
                include ../common/navigation.pug
                +navigation(navLinks)   

            .hero__top-right
                .hamburger                
                    a(href='#' class='hamburger__link') Меню
                        .hamburger__line

        .hero__center.hero__center--blog
            .user
                if (picture)
                    include ../common/user__pic.pug
                    +user__pic(`${picture.picture}`)   
                else 
                    .status= `${error.message}`
            .hero__description
                .hero__header
                    svg(class='transparent__svg-bg transparent__svg-bg--blog')
                        use(xlink:href='images/icons/sprite.svg#blog_header')            
                    h2.section__header Блог
                .hero__info Статьи, которые я написал  

    section.section.blog
        .section__overlay
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
                <polygon class = "section__overlay-left" points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                <polygon class = "section__overlay-right" points="1000,0   1000,86   500,86   500,75.5"></polygon>
            </svg>       
        aside.blog__aside#blog__aside
            .blog__dummy
            ul.blog__aside-list#blog__aside-list      
              if (articles)                      
                each item, index in articles
                    li(id=`${index}`).blog__aside-item
                        a(href=`#a${index}` class='blog__aside-link')= item.title 
            .blog__aside-open
        main.blog__main
            ul.blog_article-list
              if (articles)             
                each item, index in articles           
                    li.blog__article(data-idtitle=`${index}`)
                        a(id=`a${index}`)
                        .article
                            .article__header= item.title 
                            - 
                              var date= new Date(item.date).toLocaleDateString('ru', { 
                                              year: 'numeric', 
                                              month: '2-digit', 
                                              day: '2-digit'
                                              })                            
                            .article__date= date            
                            .article__content                            
                                p= item.body                                                                                 


block footer
    include ../common/footer.pug
    +footer