extends ../main.layout.pug

block variables
    - var title = 'Личный сайт веб разработчика Андрея Лебедева | Блог'
    - var wrapper = 'wrapper'    

block content
    section.section.hero.hero--blog
        .hero__top
            .hero__top-left
                - 
                    var socialLinks = [
                        ['vk',  'assets/images/sprite.svg#vk',     'https://vk.com/gygabyyyte' ],
                        ['git', 'assets/images/sprite.svg#github', 'https://github.com/GyGaByyyTe' ],
                        ['in',  'assets/images/sprite.svg#in',     'https://vk.com/gygabyyyte' ],
                    ]                      
                include ../common/socials.pug
                +socials('socials--align_left socials--header',socialLinks)  
            .hero__top-mid
                - 
                    var navLinks = [
                        ['Мои работы',  '/works'],
                        ['Обо мне',     '/about'],
                        ['Блог',        '/blog'],
                        ['Авторизация', '/']                    
                    ]     
                include ../common/navigation.pug
                +navigation(navLinks)   

            .hero__top-right
                .hamburger                
                    a(href='#' class='hamburger__link') Меню
                        .hamburger__line

        .hero__center.hero__center--blog
            .user
                .user__pic
                    img(src="./assets/images/userfiles/avatars/ava_index.jpg" alt="ava_index" class="user__pic-img")
            .hero__description
                .hero__header
                    svg(class='transparent__svg-bg transparent__svg-bg--blog')
                        use(xlink:href='assets/images/sprite.svg#blog_header')            
                    h2.section__header Блог
                .hero__info Статьи, которые я написал  

    section.section.blog
        .section__overlay
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
                <polygon class = "section__overlay-left" points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                <polygon class = "section__overlay-right" points="1000,0   1000,86   500,86   500,75.5"></polygon>
            </svg>   
        //- - 
        //-     var articleList = [
        //-         ['Самое важное в SASS', 
        //-             '22 ноября 2016', 
        //-             ['Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия',
        //-                 'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'] ],
        //-         ['Приёмы в вёрстке, без которых не обходится ни один сайт', 
        //-             '13 ноября 2016', 
        //-             ['Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',
        //-                 'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.']],
        //-         ['Самый необходимый набор Gulp плагинов', 
        //-             '3 ноября 2018', 
        //-             ['Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt minima quas suscipit voluptate ipsam! Fugiat, quaerat nam. Modi sapiente dolores obcaecati iusto eum ipsa? Quibusdam ipsam minus veniam natus quam ullam repudiandae consequatur, quisquam accusantium aperiam',
        //-                 'Sunt sint laudantium sed dignissimos facere aliquid quia labore dicta temporibus est? Voluptas, labore.'] ],
        //-         ['Почему я выбрал Jade', 
        //-             '5 марта 2018', 
        //-             ['Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt minima quas suscipit voluptate ipsam! Fugiat, quaerat nam. Modi sapiente dolores obcaecati iusto eum ipsa? Quibusdam ipsam minus veniam natus quam ullam repudiandae consequatur.',
        //-                 'Quisquam accusantium aperiam, sunt sint laudantium sed dignissimos facere aliquid quia labore dicta temporibus est? Voluptas, labore.'] ]
        //-     ]      
        aside.blog__aside#blog__aside
            .blog__dummy
            ul.blog__aside-list#blog__aside-list      
              if (articles)                      
                each item, index in articles
                    li(id=`${index}`).blog__aside-item
                        a(href=`#a${index}` class='blog__aside-link')= item.title 
            .blog__aside-open
        main.blog__main
            ul.blog_article-list
              if (articles)             
                //- for (var i=0; i<articles.length; i++)
                each item, index in articles           
                    li.blog__article(data-idtitle=`${index}`)
                        a(id=`a${index}`)
                        .article
                            .article__header= item.title 
                            //-articleList[i][0]
                            //- - 
                            //-   var date= new Date(item.date).toLocaleDateString('ru', { 
                            //-                   year: 'numeric', 
                            //-                   month: '2-digit', 
                            //-                   day: '2-digit'
                            //-                   })                            
                            .article__date= item.date            
                            .article__content
                                //- each item in articleList[i][2]                            
                                p= item.body                                                                                 


block footer
    include ../common/footer.pug
    +footer