extends ../main.layout.pug

block variables
    - var title = 'Личный сайт веб разработчика Андрея Лебедева | Работы'
    - var wrapper = 'wrapper' 

block content
    section.section.hero
        .hero__top
            .hero__top-left
                - 
                    var socialLinks = [
                        ['vk',  'images/icons/sprite.svg#vk',     'https://vk.com/gygabyyyte' ],
                        ['git', 'images/icons/sprite.svg#github', 'https://github.com/GyGaByyyTe' ],
                        ['in',  'images/icons/sprite.svg#in',     'https://vk.com/gygabyyyte' ],
                    ]                      
                include ../common/socials.pug
                +socials('socials--align_left socials--header',socialLinks)  

            .hero__top-mid
                - 
                    var navLinks = [
                        ['Мои работы',  '/works'],
                        ['Обо мне',     '/about'],
                        ['Блог',        '/blog'],
                        ['Авторизация', '/']                    
                    ]     
                include ../common/navigation.pug
                +navigation(navLinks)              

            .hero__top-right
                .hamburger                
                    a(href='#' class='hamburger__link') Меню
                        .hamburger__line

        .hero__center        
            svg(class='transparent__svg-bg')
                use(xlink:href='/images/icons/sprite.svg#portfolio_header')
            .user
                if (picture)
                    include ../common/user__pic.pug
                    +user__pic(`${picture.picture}`)  

                .user__description
                    .user__name= `${picture.name}`
                    .user__info Личный сайт веб разработчика 
        .hero__button
            svg(class='hero__button-svg')
                use(xlink:href='images/icons/sprite.svg#arrow_down')   

    section.section.works       
        .section__overlay
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
                <polygon class = "section__overlay-left" points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                <polygon class = "section__overlay-right" points="1000,0   1000,86   500,86   500,75.5"></polygon>
            </svg>
        .works__header
            svg(class='transparent__svg-bg transparent__svg-bg--works')
                use(xlink:href='images/icons/sprite.svg#works_header')             
            h2.section__header.section__header--color_black Мои работы    
        .works__slider
            .slider#slider
                .slider__description
                    ul.slider__desription-wrapper
                        if (slides)        
                            each slide, index in slides        
                                li.slider__description-item
                                    h3.slider__title= slide.name 
                                    p.slider__text= slide.tech 
                                    a(href='#' class='slider__link button button--color_green') Посмотреть сайт
                .slider__current
                    ul.slider__current-wrapper
                        if (slides)        
                            each slide, index in slides                        
                                li.slider__current-item
                                    .slider__preview
                                        img(src=`${slide.picture}` alt="slide_big" class="slider__current-img")
                a.slider__button.slider__button--prev
                    ul.slider__button-prev-wrapper
                        if (slides)        
                            each slide, index in slides                       
                                li.slider__button-prev-item     
                                    .slider__small-pic             
                                        img(src=`${slide.picture}` alt="slider_small" class="slider__button-img")
                    svg(class='slider__svg')
                        use(xlink:href='images/icons/sprite.svg#portf_arrow_down')                          
                a.slider__button.slider__button--next
                    ul.slider__button-next-wrapper
                        if (slides)        
                            each slide, index in slides                       
                                li.slider__button-next-item    
                                    .slider__small-pic                                                 
                                        img(src=`${slide.picture}` alt="slider_small" class="slider__button-img") 
                    svg(class='slider__svg')
                        use(xlink:href='images/icons/sprite.svg#portf_arrow_up')                
    section.section.reviews    
        .reviews__header
            svg(class='transparent__svg-bg transparent__svg-bg--about')
                use(xlink:href='images/icons/sprite.svg#about_header')           
            h2.section__header.section__header--color_black Что обо мне говорят   
        .reviews__comments
            ul.comments
                li.comments__item
                    img(src="/images/userfiles/avatars/ava_comment_1.jpg" alt="comment_1" class="comments__item-img")  
                    .comments__text
                        p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    .comments__info
                        .comments__info-name
                            span Ковальчук Дмитрий
                        .comments__info-position
                            span  — основатель Loftschool             
                li.comments__item
                    img(src="/images/userfiles/avatars/ava_comment_2.jpg" alt="comment_2" class="comments__item-img")  
                    .comments__text
                        p Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах!
                    .comments__info
                        .comments__info-name
                            span Сабанцев Владимир
                        .comments__info-position
                            span — преподаватель  
        .reviews__contacts
            form.reviews__form.form#mail(action='/mail' method="POST" enctype="application/x-www-form-urlencoded")
                .form__container
                    h3.form__title Связаться со мной
                    if (msg)
                        .status= msg                    
                    .form__row
                        input(type='text' name='name' class='form__input' required)
                    .form__row
                        input(type='email' name='email' class='form__input' required)  
                    .form__row
                        textarea(cols='30' rows='4' name='text' class='form__text-area')   
                .form__buttons
                    input(name="" type="submit" class="form__button form__button--order" value="Отправить")                             
                    input(name="" type="reset" class="form__button form__button--clear" value="Очистить")
            .reviews__button
                svg(class='reviews__button-svg')
                    use(xlink:href='images/icons/sprite.svg#portf_arrow_up')                     


block footer
    include ../common/footer.pug
    +footer